Package: com.icraze.slyd13
Name: Slyd13 (Slide To Unlock)
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 13.0)
Conflicts: me.nepeta.nottoday12, io.ijapija00.notodayview, me.nepeta.slyd
Version: 0.1-beta1
Architecture: iphoneos-arm
Description: Slide to unlock for iOS 13.
Maintainer: iCraze
Author: Nepeta
Section: Tweaks
